footer {
  border-top: 15px #272a30 solid;
  padding: 50px;
  background-color: #3e4551;
  margin: 0;
  font-size: 75%;
  text-align: center;
  max-height: 550px;
}

footer p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

footer h3 {
  color: white;
  text-align: center;
  line-height: 1.2;
  font-size: 21.6px;
  margin: 35px;
  border-bottom: none !important;
}

footer hr.black {
  background-color: black;
  width: 95%;
  height: 4px;
  display: block;
  margin: 20px auto;
  border: 0;
}

div.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

div.contacts a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  gap: 1vh;
}

div.contacts img {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}

div.contacts div {
  
  margin: auto 10px;
  
}

.version-number {
  color: lime;
  display: inline;
  font-weight: bold;
}

.time {
  color: orange;
  font-weight: bold;
  margin: 0 10px;
  display: block;
}