body{
    background: rgb(62,69,81);
background: linear-gradient(-60deg, rgba(62,69,81,1) 24%, rgba(0,0,0,1) 100%);
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin: 0;
    padding: 0;

}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0;
    font-size: 90px;
}
.cim {
    font-size: 400%;
}

.subsite {
    font-size: 300%;
    z-index: -1;
}

div.container-fluid {
    padding: 0;
}

nav.navbar {
    background-color: #4c0bce;
    padding: 0px;
    text-shadow: 0 0 15px #000000;
    z-index: 2; /* Ensure the navbar has a higher z-index */

    
}

div.navbar-nav a.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px  35px!important ; 
    flex-grow: 1; /* A linkek egyforma szélességet kapnak */
    display: block;
}

div.navbar-nav {
    display: flex; /* Flexbox aktiválása */
    justify-content: space-between; /* Egyenlő távolság az elemek között */
    width: 100%; /* A linkek a teljes szélességet kihasználják */
    padding: 0; /* Eltávolítja az esetleges alapértelmezett margókat és paddinget */
}

a.nav-link:hover {
    background-color: blue;
    color: aliceblue !important;
}

[aria-current="page"] {
    background-color: #ADD8E6;
    font-weight: bold;
    color: blue !important;
}

div.kartya-item:nth-child(even) {
    background-color: #9318f8;
    border: #460a77 solid 12px;
}
div.kartya-item:nth-child(odd) {
    background-color: #0066ff;
    border: #2f00ff solid 12px;
}
div.kartya-item {
    text-align: center;
    border-radius: 20px 0 20px 0;
    width: 80%;
    margin: 20px auto;
}

div.kartya-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    color: black;
    margin: 35px;
    font-size: 230%;
    text-transform: capitalize;
}

button {
    padding: 15px 18px;
    color: aliceblue;
    margin: 30px 8px 30px 8px;
}

div.kartya div.kartya-item:nth-child(odd) button {
    border: 3px #4c0bce solid; 
    background-color: #9318f8; 
    border-radius: 25px;
    
}

div.kartya div.kartya-item:nth-child(even) button {
    border: 3px #2f00ff solid; 
    background-color: #0066ff; 
    border-radius: 25px;
    
}

main {
  min-height: calc(100vh - 50px); /* Footer magasságával csökkentett magasság */
}

footer {
    border-top: 35px #272a30 solid;
    padding: 50px;
    background-color: #3e4551;
    margin:0;
    font-size: 75%;
}

div.oldalsav {
    background-color: #2f00ff;
    z-index: 1; /* Alacsonyabb réteg a navbar-nál */
    position: fixed;
    top: 60px; /* A navigációs sáv alá igazítva */
    left: 0;
    width: 250px; /* Fix szélesség */
    height: calc(100vh - 60px); /* A navbar magasságát figyelembe véve */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: aliceblue;
    text-align: left;
    overflow-y: auto;
  }

div.oldalsav a {
    background-color: #4c0bce;

}

  header {
    top:0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .dropdown {
    position: relative; /* Relatív pozíció a tartalomhoz képest */
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #4c0bce;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
  }
  
  .dropdown-button:hover {
    background-color: #6e40ff;
  }
  
  /* Dropdown tartalom */
  .dropdown-content {
    display: none; /* Alapértelmezés szerint rejtve */
    position: absolute; /* A szülőhöz képest pozícionált */
    background-color: white;
    min-width: 160px; /* Minimum szélesség */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Árnyék */
    z-index: 1; /* Előtérben tartás */
    border-radius: 5px;
  }
  
  /* Dropdown tartalom linkek */
  .dropdown-content a {
    color: black;
    padding: 10 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .dropdown-content a:hover {
    background-color: black;
  }
  
  /* Hover vagy focus hatás */
  /* .dropdown:hover .dropdown-content, */
  .dropdown:focus-within .dropdown-content {
    display: block; 
    /* Megjeleníti a tartalmat */
  }
