body {
    background: rgb(62, 69, 81);
    background: linear-gradient(-60deg, rgba(62, 69, 81, 1) 24%, rgba(0, 0, 0, 1) 100%);
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    margin: 120px 0 50px 0;
    /* Növeltük a margót a navbar alatt */
    font-size: 90px;
}

.cim {
    font-size: 400%;
}

.subsite {
    font-size: 300%;
    z-index: -1;
}

div.container-fluid {
    padding: 0;
}

nav.navbar {
    background-color: #4c0bce;
    padding: 0px;
    text-shadow: 0 0 15px #000000;
    z-index: 2;
    /* A navbar az összes többi elem felett */
    position: fixed;
    /* A navbar fixálása a tetejére */
    width: 100%;
    /* A navbar teljes szélesség */
    top: 0;
    /* A navbar a képernyő tetején helyezkedik el */
    left: 0;
    overflow-x: auto;
}

div.navbar-nav a.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 35px !important;
    flex-grow: 1;
    /* A linkek egyforma szélességet kapnak */
    display: block;
}

div.navbar-nav {
    display: flex;
    /* Flexbox aktiválása */
    justify-content: space-between;
    /* Egyenlő távolság az elemek között */
    width: 100%;
    /* A linkek a teljes szélességet kihasználják */
    padding: 0;
    /* Eltávolítja az esetleges alapértelmezett margókat és paddinget */
}

a.nav-link:hover {
    background-color: blue;
    color: aliceblue !important;
   
}

[aria-current="page"] {
    background-color: #ADD8E6;
    font-weight: bold;
    color: blue !important;
}


div.kartya-item:nth-child(even) {
    background-color: #9318f8;
    border: #460a77 solid 12px;
}

div.kartya-item:nth-child(odd) {
    background-color: #0066ff;
    border: #2f00ff solid 12px;
}

div.kartya-item {
    text-align: center;
    border-radius: 20px 0 20px 0;
    width: 100%;
    margin: 20px auto;
}

div.kartya-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    color: black;
    margin: 35px;
    font-size: 230%;
    text-transform: capitalize;
}

button {
    padding: 15px 18px;
    color: aliceblue;
    margin: 30px 8px 30px 8px;
}

div.kartya div.kartya-item:nth-child(odd) button {
    border: 3px #4c0bce solid;
    background-color: #9318f8;
    border-radius: 25px;

}

div.kartya div.kartya-item:nth-child(even) button {
    border: 3px #2f00ff solid;
    background-color: #0066ff;
    border-radius: 25px;

}

main {
    min-height: calc(100vh - 70px);
    /* A navbar magasságának levonása */
    padding-top: 70px;
    /* A navbar magasságának kompenzálása, hogy ne takarja el a tartalmat */
}

footer {
    border-top: 35px #272a30 solid;
    padding: 50px;
    background-color: #3e4551;
    margin: 0;
    font-size: 75%;
}


header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    
}

.sidenav {
    height: calc(100% - 70px); /* A navbar magasságának levonása */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70px; /* A navbar alatt induljon */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px; /* Tetszőlegesen módosítható */
    text-align: left;
    
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 100%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #4c0bce;
}

span {
    color: aliceblue;
    margin: auto 10px; /* Mindkét tengelyen középre helyezi */
    display: block; /* A gomb egy blokk elemként viselkedik */
    
}